<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="panel-heading">
        <div class="row" style="display: inline-flex;">
            <div class="col-xs-6" style="margin: 10px;">
                <h2>{{user_name}}</h2>
            </div>
            <div class="col-xs-6" style="align-self: center;">
                <form action="/log_out">
                <button type="submit" class="btn btn-danger">LogOut</button>
            </form>
            </div>
        </div>
        <hr>
    </div>
    <div>
        <form method="post"  style="display: -webkit-box;">

        <div class="form-group">

            <input type='hidden' class="form-control" name="parent" value='{{user_name}}'>
        </div>

        <div class="form-group">

            <input type='text' class="form-control" name="username" placeholder="Email Address">
        </div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <div class="form-group">

            <input type="password" class="form-control" name="password" placeholder="Password">

        </div>
        <button type="submit" class="btn btn-primary">Add new User</button>

    </form>

    <div class="container" style="display: inline-flex;">
    {% if admin %}
        {% if childs %}
        {% for parent in childs %}
                <div style="margin-right: 20px;">
                    <h3>{{parent}}</h3>
                    <div>
                        {% for child in childs[parent] %}
                        <div style="margin: 10px;">
                            <h4 style="text-align: -webkit-center;">{{child}}</h4>
                            <form  action="/remove_user" method="post">
                                <div class="form-group">
                                  <input type="hidden" name="parent_name" value="{{user_name}}">
                                </div>
                                <div class="form-group">
                                  <input type="hidden" name="remove" value="{{child}}">
                                </div>
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                </div>
        {% endfor %}
        {% endif %}
    {% else %}
        {% if childs %}
        {% for name in childs %}
            <div style="margin: 10px;">
                <h4 style="text-align: -webkit-center;">{{name}}</h4>
                <form  action="/remove_user" method="post">
                    <div class="form-group">
                      <input type="hidden" name="parent_name" value="{{user_name}}">
                    </div>
                    <div class="form-group">
                      <input type="hidden" name="remove" value="{{name}}">
                    </div>
                    <button type="submit" class="btn btn-danger">Remove</button>
                </form>
            </div>
        {% endfor %}
        {% endif %}
    {% endif %}
    </div>
    </div>
</body>
</html>