amqp==2.3.2
antiorm==1.2.1
Babel==2.9.1
billiard==3.5.0.4
blinker==1.4
celery==4.2.1
click==6.7
db==0.1.1
Flask==1.0.2
Flask-SSLify==0.1.5
flasker==0.1.45
flower==0.9.2
itsdangerous==0.24
Jinja2==2.10
kombu==4.2.1
MarkupSafe==1.0
psycopg2==2.7.5
pytz==2018.5
SQLAlchemy==1.2.10
tornado==5.1
vine==1.1.4
Werkzeug==0.14.1
