{% extends "base.html" %}

{% block content %}
    <form id="pay_form" name="Pay" method="post" action=" https://pay.piastrix.com/ru/pay" accept-charset="UTF-8">
        {{ form.csrf_token }}
        <input type="hidden" name="amount" value={{dictt['amount']}}>
        <input type="hidden" name="currency" value={{dictt['currency']}}>
        <input type="hidden" name="shop_id" value={{dictt['shop_id']}}>
        <input type="hidden" name="sign"
        value={{dictt['sign']}}>
        <input type="hidden" name="shop_order_id" value={{dictt['shop_order_id']}}>
        <input type="hidden" name="description" value={{dictt['description']}}>
        <input style="display: none" type="submit"/>
    </form>

    <script>
        pay_form.submit();
    </script>
{% endblock %}