{% extends "index.html" %}
{% block body %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>All notes</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        {% for note in notes %}
            <div class="col-md-4">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">{{note}}</h3>
                  </div>
                  <div class="panel-body">
                    {{notes[note][0]}}
                  </div>
                  <form  action="/remove_note" method="post">
                    <div class="form-group">
                      <input type="hidden" name="test" value="{{note}}">
                    </div>
                    <button type="submit" class="btn btn-danger">Remove</button>
                  </form>
                </div>

            </div>
        {% endfor %}
      </div>

    </div>
  </body>
</html>

{% endblock %}
